<h3>Products</h3>

<div class="row">
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4 product<%= product.id %>_card">
      <h4><%= product.name %></h4>
      <p><% if current_user != nil && current_user.admin %><%= link_to "Edit", edit_product_path(product)%> | <%= link_to 'Delete', product_path(product), :data => { :method => 'delete'}, remote: true %><%end%></p>
      <p><%= number_to_currency product.price %></p>
      <%= link_to 'Details', product_path(product), remote: true %>
      <div id="product<%=product.id%>_details" style='display:none;'>
        <%= image_tag product.image, class: 'product_image' %>
        <p><%= product.description %></p>
      </div>
      <%= form_for @order_item, remote: true do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, placeholder: "Oops, breaks if you don't add input!", id: "product#{product.id}_quantity" %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart", remote: true %></span>
      <% end %>
    </div>
  <% end %>
</div>
</div>
